@using CatalogTop.ViewModels.Account;
@model RegisterViewModel
@{
    ViewBag.Title = "Вход в аккаунт";
}
<p>@ViewBag.returnUrl</p>
<section class="h-10 h-custom">
    <div class="row d-flex justify-content-center align-items-center h-10">
        <div class="col-lg-8 col-xl-6">
            <div class="card rounded-3 bg-light">
                <div class="card-body p-4 p-md-5">
                    <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Вход</h3>

                    <form class="px-md-2" method="post" asp-controller="Account" asp-action="Login">
                        <div asp-validation-summary="ModelOnly"></div>

                        <div class="form-outline mb-4">
                            <input type="text" id="form3Example1q" class="form-control" asp-for="Email" />
                            <label class="form-label" for="form3Example1q" asp-for="Email">Email</label>
                            <span asp-validation-for="Email"></span>
                        </div>

                        <div class="form-outline mb-4">
                            <input type="text" id="form3Example1q" class="form-control" asp-for="Password" />
                            <label class="form-label" for="form3Example1q" asp-for="Password">пароль</label>
                            <span asp-validation-for="Password"></span>
                        </div>

                        <button asp-action="Login" type="submit" class="btn btn-success btn-lg mb-1">Войти</button>

                    </form>

                </div>
            </div>
        </div>
    </div>
</section>